
@media screen and (max-width: 980px)
{
  * {
  box-sizing: border-box;

}
body {
  background-color: 		#FA8072;

}
ul {
  margin: 0;
  padding: 0;
}
.h{
  font-size: 10rem;
  margin-top: 5rem;
  margin-right: 20rem;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 2rem;
  transition: 0.2s;
 font-weight:bold;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:hover {
  background: rgba(0,0,0,0.3);
}
button{
  width:50%;
  height:1.5rem;
  color:black;
  margin-left: 1rem;
}

#add-todo{

margin-left: 20rem;
margin-top: 6rem;

}
input
{
margin: 0;
  border: none;
  border-radius: 0;
  width: 55%;
  padding: 10px;
  float: left;
  font-size: 25px;
  margin-left: 3rem;
}
input[type=submit]
{
background-color: black;
color:white;
font-size: 2rem;


}
#todo-container{
margin-top: 4rem;
margin-left: 33rem;
}


}





* {
  box-sizing: border-box;

}
body {
  background-color: 		#FA8072;

}
ul {
  margin: 0;
  padding: 0;
}
.h{
  font-size: 5rem;
  margin-left: 26rem;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 2rem;
  transition: 0.2s;
 font-weight:bold;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:hover {
  background: rgba(0,0,0,0.3);
}
button{
  width:10%;
  height:1.5rem;
  background-color:white;
  margin-left: 1rem;
  font-weight:bold;
}

#add-todo{

margin-left: 20rem;
margin-top: 6rem;
}

.marked {
  text-decoration: line-through;
  color: black;
}

input[type=text]
{
margin: 0;
  border: none;
  border-radius: 0;
  width: 45%;
  padding: 10px;
  float: left;
  font-size: 25px;
  margin-left: 4rem;
  margin-top: -8rem;
}
input[type=submit]
{
background-color: black;
color:white;
font-size: 2rem;
margin:-150px 10px 100px 400px;
  width: 45%;
  height:70%;
}
#todo-container{
margin-top: 4rem;
margin-left: 28rem;
}

#sorted{
  background-color: white;
  margin-left: 25rem;
  margin-top:5rem;
  height:2rem;
}
